<% layout('./layout') -%>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
			<li class="active">Dashboard</li>
		</ol>
	</div>
	<!--/.row-->
		<h1 class="text-center"style="font-weight: 600;" >Welcome Name</h1>
		<h3 style="font-weight: 500; display: inline;">Package Name: </h3>
		<h4 style="display: inline;">Name</h4>
		
		<div class="row">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Start Date</th>
						<th scope="col">Total Sms</th>
						<th scope="col">Remaining Sms</th>
						<th scope="col">Expiry Date</th>
						
					</tr>
				</thead>
				<tbody>
					
						<tr>
							<td>1</td>
							<td>23/4/2020</td>
							<td>10000</td>
							<td>1020</td>
							<td>20/12/20</td>

						</tr>
					
				</tbody>
			</table>
		</div>
</div>