
    <% layout('./layout') -%>
    <!--================Banner Area =================-->
    <section class="banner_area">
        <div class="container">
            <div class="banner_inner_text">
                <h2>About Us</h2>
            </div>
        </div>
    </section>
    <!--================End Banner Area =================-->

    <!--================Challange Area =================-->
    <section class="challange_area p_100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="challange_text_inner">
                        <div class="l_title">
                            <img src="/home/img/icon/title-icon.png" alt="">

                            <h2>We don’t hide, we stand tall in front of chalenge</h2>
                        </div>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul.Cras ex mauris, ornare eget pretium sit amet, dignissim et
                            turpis. Nunc nec maximus dui, vel suscipit dolor. Donec elementum velit a orci facilisis
                            rutrum. Nam convallis vel erat id dictum. Sed ut risus in orci convallis viverra a eget
                            nisi. Aenean pellentesque elit vitae eros dignissim ultrices. </p>
                    </div>
                </div>
                <div class="col-lg-4 challange_img">
                    <div class="challange_img_inner">
                        <img class="img-fluid" src="/home/img/popup-photo.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Challange Area =================-->
    <div>
        <h2 class="text-center pb-4">Meet Our Team</h2>
    </div>
    <!--================Testimonials Slider Area =================-->
    <section class="testimonials_area">
        <div class="container">
            <div class="testimonials_slider owl-carousel">
                <div class="item">
                    <div class="testi_item">
                        <h3>“Simply professionals”</h3>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna.
                            Pellentesque sit am et tellus.</p>
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="/home/img/testimonials/atta.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Ch. Atta Rasool</h4>
                                <h5>CEO</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <h3>“They are the best”</h3>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna.
                            Pellentesque sit am et tellus.</p>
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="/home/img/testimonials/usman" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Usman</h4>
                                <h5>Business </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <h3>“We just love them”</h3>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna.
                            Pellentesque sit am et tellus.</p>
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="/home/img/testimonials/umer.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Muhammad Umer</h4>
                                <h5>MEAN Stack Developer</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <h3>“Simply professionals”</h3>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna.
                            Pellentesque sit am et tellus.</p>
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="/home/img/testimonials/ali.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Ali Faraz</h4>
                                <h5>Nodejs Developer</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <h3>“Simply professionals”</h3>
                        <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus
                            blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mattis effic iturut magna.
                            Pellentesque sit am et tellus.</p>
                        <div class="media">
                            <div class="d-flex">
                                <img class="rounded-circle" src="/home/img/testimonials/anas.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Muhammad Anas</h4>
                                <h5>Backend Develoepr</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Testimonials Slider Area =================-->



    <!--================End We Are Company Area =================-->

    <!--================End We Are Company Area =================-->

    <!--================Footer Area =================-->

    <!-- <div class="footer_widget_area">
                <div class="container">
                    <div class="row footer_widget_inner text-center">
                        <div class="col-lg-12 col-sm-12">
                            <aside class="f_widget f_about_widget">
                                <img src="/home/img/footer-logo.png" alt="">
                                <p>Ravicosoft is a full-service software development Company providing Enterprise
                                    Software Development, Application Development (Desktop, Web & Mobile), Product
                                    Development, Digital Commerce, UI/UX Design and IT Consulting services. Our team develop
                                    effective strategies for forward thinking companies. We have a proven track record in
                                    providing cutting-edge technology solutions.</p>
                            </aside>
                        </div>
    
                    </div>
                </div>
            </div> -->
