<% layout('./layout') -%>

<style>
    .demo {
        padding: 100px 0;
    }
    

    .heading-title {
        margin-bottom: 100px;
    }

    .pricingTable {
        text-align: center;
        transition: all 0.5s ease 0s;
    }

    .pricingTable:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .pricingTable .pricingTable-header {
        color: #feffff;
    }

    .pricingTable .heading {
        display: block;
        padding-top: 25px;
    }

    .pricingTable .heading>h3 {
        font-size: 20px;
        margin: 0;
        text-transform: capitalize;
    }

    .pricingTable .subtitle {
        display: block;
        font-size: 13px;
        margin-top: 5px;
        text-transform: capitalize;
    }

    .pricingTable .price-value {
        display: block;
        font-size: 35px;
        font-weight: 700;
        padding-bottom: 25px;
    }

    .pricingTable .price-value span {
        display: block;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
    }

    .pricingTable .pricingContent {
        text-transform: capitalize;
        background: #fbfbfb;
        color: #fefeff;
    }

    .pricingTable .pricingContent ul {
        list-style: none;
        padding: 15px 20px 10px;
        margin: 0;
        text-align: left;
    }

    .pricingTable .pricingContent ul li {
        font-size: 14px;
        padding: 12px 0;
        border-bottom: 1px dashed #e1e1e1;
        color: #9da1ad;
    }

    .pricingTable .pricingContent ul li i {
        font-size: 14px;
        float: right;
    }

    .pricingTable .pricingTable-sign-up {
        padding: 20px 0;
        background: #fbfbfb;
        color: #fff;
        text-transform: capitalize;
    }

    .pricingTable .btn-block {
        width: 60%;
        margin: 0 auto;
        font-size: 17px;
        color: #fff;
        text-transform: capitalize;
        border: none;
        border-radius: 5px;
        padding: 10px;
        transition: all 0.5s ease 0s;
    }

    .pricingTable .btn-block:before {
        content: "\f007";
        font-family: 'FontAwesome';
        margin-right: 10px;
    }

    .pricingTable.blue .pricingTable-header,
    .pricingTable.blue .btn-block {
        background: #727cb6;
    }

    .pricingTable.pink .pricingTable-header,
    .pricingTable.pink .btn-block {
        background: #ed687c;
    }
    .pricingTable.pink .pricingTable-header2,
    .pricingTable.pink .btn-block {
        background: #eb8181;
    }

    .pricingTable.orange .pricingTable-header,
    .pricingTable.orange .btn-block {
        background: #e67e22;
    }

    .pricingTable.green .pricingTable-header,
    .pricingTable.green .btn-block {
        background: #008b8b;
    }

    .pricingTable.blue .btn-block:hover,
    .pricingTable.pink .btn-block:hover,
    .pricingTable.orange .btn-block:hover,
    .pricingTable.green .btn-block:hover {
        background: #e6e6e6;
        color: #939393;
    }
    
    @media screen and (max-width: 990px) {
        .pricingTable {
            margin-bottom: 20px;
        }
    }
    #btntut{
        border: 1px solid green;
        /* background-color: transparent; */
        margin-top: 4px;
        width: 100%;
        
    }
    ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
    
</style>

<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h2>BusinessBook</h2>
        </div>
    </div>
</section>

<div class="container mt-30">
    <div class="row">
        <div class="col-md-9">
            <p class="text-justify">
                A free point of sales software with exceptional productivity, simplycity and security.
            </p>
            <br>
            <p>BusinessBook features</p> 
            <ol>
                <li>All standard features for Point of sales</li>
                <li>Inventory</li>
                <li>Customers and Vendors Ledger</li>
                <li>Multiple users</li>
                <li>Invoice printing</li>
                <li>Send Branded SMS from software</li>
                <li>No Data limits</li>
                <li>Easy to learn and use</li>
                <li>C# WPF and MySql based latest stack</li>
                <li>100% free</li>
                <li>And much more</li>
            </ol>
        </div>
        <div class="col-md-3">
            <a href="https://github.com/ravicosoftltd/businessbook-desktop/releases" target="_blank" class="btn btn-outline-success">Download</a>
            <a href="https://www.youtube.com/watch?v=UrhOueko31M&list=PLQ6E0yNGZ-LwzPpWIS_QV4bv1QBNum3Tj" class="btn btn-outline-success">Youtube Tutorials</a>
            <a href="https://github.com/ravicosoftltd/businessbook-desktop" class="btn btn-outline-success">View On Github</a>
        </div>
    </div>
<hr>
    <div class="product">
        <div class="heading text-center">
            <h3>BusinessBook is free to use without any limits.</h3>
        </div>
        <hr>
        <br>
        <br>
        <p>Need our help in deployment, maintenace, training, audits or customization ?</p>
        <p style="font-weight: normal;">Check out these maintenance and support packages</p>
        <br>
        <div class="row">
            <div class="col-md-3 col-sm-6 ">
                <div class="pricingTable blue">
                    <div class="pricingTable-header">
                        <span class="heading">
                            <h3>Package 1</h3>
                            <br>
                        </span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li>Free
                                <br>
                                <br>
                            </li>
                            <li>Self Support<i class="fa fa-check"></i></li>
                            <li>Paid Maintance<i class="fa fa-check"></i></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="pricingTable pink">
                    <div class="pricingTable-header">
                        <span class="heading">
                            <h3>Package 2</h3>
                            <br>
                        </span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li>PKR 1,000 monthly or PKR 20,000 for lifetime</li>
                            <li>Call Support <i class="fa fa-check"></i></li>
                            <li> Free Online maintenance<i class="fa fa-check"></i></li>
                            <!-- <li> Call & Email Support<i class="fa fa-check"></i></li> -->
                        </ul>
                    </div><!-- /  CONTENT BOX-->

                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 ">
                <div class="pricingTable pink">
                    <div class="pricingTable-header2">
                        <span class="heading">
                            <h3>Package 3</h3>
                            <br>
                        </span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li>PKR 10,000 monthly or PKR 5,00,000 for lifetime</li>
                            <li>Call, Email,Whatsapp Support <i class="fa fa-check"></i></li>
                            <li>Free online maintenance <i class="fa fa-check"></i></li>
                            <li>Free on your location maintenance <i class="fa fa-check"></i></li>
                            <li>Free trainings <i class="fa fa-check"></i></li>
                            <li>Free on your location store audits <i class="fa fa-check"></i></li>
                        </ul>
                    </div><!-- /  CONTENT BOX-->

                </div>
            </div>

            <div class="col-md-3 col-sm-6 ">
                <div class="pricingTable orange">
                    <div class="pricingTable-header">
                        <span class="heading">
                            <h3>Custom</h3>
                            <br>
                        </span>
                    </div>
                    <div class="pricingContent">
                        <ul>
                            <li> For any customizations in software, plans or onstore audits contact us </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <p style="font-weight: normal;">These prices are applicable only in Pakistan and prices are mentioned in Pakistani Rupee. For international customers, you can get quotation at +92 332 2282345 / info@ravicosoft.com</p>
        <p style="font-weight: normal;">Travel,Food and hotel charges will be applicable for physical store visits</p>
        <p style="font-weight: normal;">Lifetime licence period in limited to 5 years</p>
        <br>

    </div>
</div>
