<% layout('./layout') -%>
<!--================End Header Menu Area =================-->

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h2>BusinessBook </h2>
            <p>Maintain your company</p>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->
<!--================product Area =================-->
<div class="text-center ">
    <h1>BusinessBook</h1>
</div>
<div class="row mb-5">
    <div class="col-lg-6 col-md-6 col-12">
        <img src="/home/img/book.png" class="img-fluid p-5">
    </div>
    <div class="col-lg-6 col-md-6 col-12 pr-5">
        <h1 class="pt-5">Who Am I</h1>
        <hr>
        <p class="text-justify">Accounting software describes a type of application software that records and processes accounting
            transactions within functional modules such as accounts payable, accounts receivable, journal, general
            ledger, payroll, and trial balance. It functions as an accounting information system. It may be developed
            in-house by the organization using it, may be purchased from a third party, or may be a combination of a
            third-party application software package with local modifications. Accounting software may be on-line based,
            accessed anywhere at any time with any device which is Internet enabled, or may be desktop based. It varies
            greatly in its complexity and cost.</p>

    </div>
</div>


<div class="product">
    <div class="heading text-center">
        <h1>BusinessBook Packages</h1>
    </div>
    <div class="demo ">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 pl-5 ml-5">
                    <div class="pricingTable blue">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>Package 1</h3>
                                <br>
                            </span>
                            <span class="price-value"><b>Free</b> </span>
                            <!-- <span> <b>Validity:</b> <span>90 Days</span></span>  -->
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li> Full POS <i class="fa fa-check"></i></li>
                                <li> Branded Sms <i class="fa fa-check"></i></li>
                                <li> Self Support<i class="fa fa-check"></i></li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 pl-5 ml-5">
                    <div class="pricingTable pink">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>Package 2</h3>
                                <br>
                            </span>
                            <span class="price-value">$10 </span>
                            <span>monthly</span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li> All included in Package 1<i class="fa fa-check"></i></li>
                                <li> Ledger <i class="fa fa-check"></i></li>
                                <li> online Backup<i class="fa fa-check"></i></li>
                                <li> Call & Email Support<i class="fa fa-check"></i></li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 pl-5 ml-5">
                    <div class="pricingTable orange">
                        <div class="pricingTable-header">
                            <span class="heading">
                                <h3>Package 3</h3>
                                <br>
                            </span>
                            <span class="price-value">$20 </span>
                            <span>monthly</span>
                        </div>
                        <div class="pricingContent">
                            <ul>
                                <li> All included In package 2 <i class="fa fa-check"></i></li>
                                <li> Online Reports<i class="fa fa-check"></i></li>
                            </ul>
                        </div><!-- /  CONTENT BOX-->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="download pb-3" style="margin-top: -80px; margin-left: -80px;">
    <div class="text-center pl-3">
        <button type="button" class="btn btn-primary pl-5 pr-5">
            <h4>Download Now!</h4>
        </button>
    </div>
</div>

<!--================End product Area =================-->

<!--================Footer Area =================-->

<!--================End Footer Area =================-->




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/home/js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/home/js/popper.min.js"></script>
<script src="/home/js/bootstrap.min.js"></script>
<!-- Rev slider js -->
<script src="/home/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/home/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<!-- Extra plugin css -->
<script src="/home/vendors/counterup/jquery.waypoints.min.js"></script>
<script src="/home/vendors/counterup/jquery.counterup.min.js"></script>
<script src="/home/vendors/counterup/apear.js"></script>
<script src="/home/vendors/counterup/countto.js"></script>
<script src="/home/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/home/vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
<script src="/home/js/smoothscroll.js"></script>
<script src="/home/vendors/circle-bar/circle-progress.min.js"></script>
<script src="/home/vendors/circle-bar/plugins.js"></script>
<script src="/home/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/home/vendors/isotope/isotope.pkgd.min.js"></script>

<script src="/home/js/circle-active.js"></script>
<script src="/home/js/theme.js"></script>
</body>

</html>
<style>
    .demo {
        padding: 100px 0;
    }

    .heading-title {
        margin-bottom: 100px;
    }

    .pricingTable {
        text-align: center;
        transition: all 0.5s ease 0s;
    }

    .pricingTable:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    .pricingTable .pricingTable-header {
        color: #feffff;
    }

    .pricingTable .heading {
        display: block;
        padding-top: 25px;
    }

    .pricingTable .heading>h3 {
        font-size: 20px;
        margin: 0;
        text-transform: capitalize;
    }

    .pricingTable .subtitle {
        display: block;
        font-size: 13px;
        margin-top: 5px;
        text-transform: capitalize;
    }

    .pricingTable .price-value {
        display: block;
        font-size: 64px;
        font-weight: 700;
        padding-bottom: 25px;
    }

    .pricingTable .price-value span {
        display: block;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
    }

    .pricingTable .pricingContent {
        text-transform: capitalize;
        background: #fbfbfb;
        color: #fefeff;
    }

    .pricingTable .pricingContent ul {
        list-style: none;
        padding: 15px 20px 10px;
        margin: 0;
        text-align: left;
    }

    .pricingTable .pricingContent ul li {
        font-size: 14px;
        padding: 12px 0;
        border-bottom: 1px dashed #e1e1e1;
        color: #9da1ad;
    }

    .pricingTable .pricingContent ul li i {
        font-size: 14px;
        float: right;
    }

    .pricingTable .pricingTable-sign-up {
        padding: 20px 0;
        background: #fbfbfb;
        color: #fff;
        text-transform: capitalize;
    }

    .pricingTable .btn-block {
        width: 60%;
        margin: 0 auto;
        font-size: 17px;
        color: #fff;
        text-transform: capitalize;
        border: none;
        border-radius: 5px;
        padding: 10px;
        transition: all 0.5s ease 0s;
    }

    .pricingTable .btn-block:before {
        content: "\f007";
        font-family: 'FontAwesome';
        margin-right: 10px;
    }

    .pricingTable.blue .pricingTable-header,
    .pricingTable.blue .btn-block {
        background: #727cb6;
    }

    .pricingTable.pink .pricingTable-header,
    .pricingTable.pink .btn-block {
        background: #ed687c;
    }

    .pricingTable.orange .pricingTable-header,
    .pricingTable.orange .btn-block {
        background: #e67e22;
    }

    .pricingTable.green .pricingTable-header,
    .pricingTable.green .btn-block {
        background: #008b8b;
    }

    .pricingTable.blue .btn-block:hover,
    .pricingTable.pink .btn-block:hover,
    .pricingTable.orange .btn-block:hover,
    .pricingTable.green .btn-block:hover {
        background: #e6e6e6;
        color: #939393;
    }

    @media screen and (max-width: 990px) {
        .pricingTable {
            margin-bottom: 20px;
        }
    }
</style>