<% layout('./layout') -%>  
        <!--================End Header Menu Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Contact</h2>
                    <!-- <p>Get in touch</p> -->
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Get in Touch Area =================-->
        <section class="get_in_touch_area p_100">
            <div class="container">
                <div class="row get_touch_inner">
                    
                    <div class="col-lg-6">
                        <div class="touch_details">
                            <div class="map_location_box">
                                <div class="container">
                                    <div class="map_l_box_inner">
                                        <div class="bd-callout" style="padding-left: 35px;">
                                            <h3>Office Details:</h3>
                                            <p>
                                                H# 52, Hussain Park<br/>
                                                Harbancepura pull Lahore,Pakistan
                                            </p>
                                            <h4><a href="#">+92 302 4059550</a> <a href="#">info@ravicosoft.com</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        

    