<% layout('./layout') -%>
<!--================Slider Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h1>WE BUILD POWERFULL DIGITAL<br>SOLUTIONS & EXPERIENCES</h1>
            <p>&nbsp;</p>
            
        </div>
    </div>
</section>
<!--================End Slider Area =================-->

<!--================Feature Area =================-->
<section class="feature_area">
    <div class="container">
        <div class="c_title">
            <img src="/home/img/icon/title-icon.png" alt="">

            <h2>What We Are Offering</h2>
        </div>
        <div class="row feature_inner">
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="/home/img/icon/f-icon-1.png" alt="">
                    </div>
                    <h4>Web Development</h4>
                    
                    <!-- <a class="more_btn" href="/user/#">Read More</a> -->
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="/home/img/icon/f-icon-2.png" alt="">
                    </div>
                    <h4>Software Development</h4>
                   
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="feature_item">
                    <div class="f_icon">
                        <img src="/home/img/icon/f-icon-3.png" alt="">
                    </div>
                    <h4>Marketing</h4>
                   
                    <!-- <a class="more_btn" href="/user/#">Read More</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<div class="blog_text" style="text-align: center;">
    <!-- <a class="more_btn" href="./service">See More</a> -->
 </div>
<!--================End Feature Area =================-->


<!--================Challange Area =================-->
<section class="challange_area ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="challange_text_inner">
                    <div class="l_title">
                        <img src="img/icon/title-icon.png" alt="">

                        <h2>From strategy to deployment and beyond.</h2>
                    </div>
                    <p class="text-justify">Once you conceive an idea, the next step is to find the best technology partner to bring your
                        idea to life. Our team of developers, software architects, project managers and other
                        technicians is equipped with advanced and up-to-date skill sets to cater to specific needs of
                        your project. We are a full-scale software development firm that knows the value of lasting
                        relationships and can combine focused detail-oriented action with long-term strategic thinking.
                    </p>

                </div>
            </div>
            <div class="col-lg-6 challange_img">
                <div class="challange_img_inner">
                    <!-- <img class="img-fluid" src="img/skillset.png" alt="" style="padding-left:10rem;"> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Challange Area =================-->
<!--================End The best slider Area =================-->