<% layout('./layout') -%>  
        <!--================End Header Menu Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Login</h2>
                    <!-- <p>Login To Continue</p> -->
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Get in Touch Area =================-->
        <section class="get_in_touch_area p_100 ">
            <div class="container">
                <div class="row get_touch_inner">
                    <div class="col-lg-6 ">
                        <form class="contact_us_form row" action="/auth/signin" method="post" novalidate="novalidate">
                            <div class="form-group col-lg-6">
                                <input type="text" class="form-control" id="email" name="username" placeholder="Email">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="submit" value="submit" class="btn submit_btn form-control" style="line-height: unset;">Login</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--================End Get in Touch Area =================-->
        
    </body>
</html>