<% layout('./layout') -%>  
        <!--================End Header Menu Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Login</h2>
                    <!-- <p>Login To Continue</p> -->
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Get in Touch Area =================-->
        <section class="get_in_touch_area p_100 ">
            <div class="container">
                <div class="row get_touch_inner">
                    <div class="col-lg-6 ">
                        <form class="contact_us_form row" action="/auth/signin" method="post" novalidate="novalidate">
                            <div class="form-group col-lg-6">
                                <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="submit" value="submit" class="btn submit_btn form-control">Send</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--================End Get in Touch Area =================-->
        
       
        
       
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/home/js/jquery-3.2.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/home/js/popper.min.js"></script>
        <script src="/home/js/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="/home/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="/home/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <!-- Extra plugin css -->
        <script src="/home/vendors/counterup/jquery.waypoints.min.js"></script>
        <script src="/home/vendors/counterup/jquery.counterup.min.js"></script> 
        <script src="/home/vendors/counterup/apear.js"></script>
        <script src="/home/vendors/counterup/countto.js"></script>
        <script src="/home/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/home/vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
        <script src="/home/js/smoothscroll.js"></script>
        <script src="/home/vendors/circle-bar/circle-progress.min.js"></script>
        <script src="/home/vendors/circle-bar/plugins.js"></script>
        <script src="/home/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/home/vendors/isotope/isotope.pkgd.min.js"></script>
        
        <!--gmaps Js-->
        <script src="/home/https:/maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="/home/js/gmaps.min.js"></script>
        
        <!-- contact js -->
        <script src="/home/js/jquery.form.js"></script>
        <script src="/home/js/jquery.validate.min.js"></script>
        <script src="/home/js/contact.js"></script>
        
        <script src="/home/js/circle-active.js"></script>
        <script src="/home/js/theme.js"></script>
    </body>
</html>