<% layout('./layout') -%>
<!--================End Header Menu Area =================-->

<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_text">
            <h2>Product's</h2>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->

<!--================Portfolio Area =================-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="product p-5">
                <div class="card" style="width: 25rem;">
                    <div class="card-header">
                        <h5 class="card-title">Business Book</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">State of the art software for businesses. A system greatly help in increasing the productivity of a business, making record keeping and managing much easier.</p>
                    </div>
                    <div class="card-footer">
                        <a href="/home/businessbook" class="btn btn-outline-success">More Info</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!--================End Portfolio Area =================-->

<!--================Footer Area =================-->

<!--================End Footer Area =================-->




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/home/js/jquery-3.2.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/home/js/popper.min.js"></script>
<script src="/home/js/bootstrap.min.js"></script>
<!-- Rev slider js -->
<script src="/home/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="/home/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/home/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<!-- Extra plugin css -->
<script src="/home/vendors/counterup/jquery.waypoints.min.js"></script>
<script src="/home/vendors/counterup/jquery.counterup.min.js"></script>
<script src="/home/vendors/counterup/apear.js"></script>
<script src="/home/vendors/counterup/countto.js"></script>
<script src="/home/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/home/vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
<script src="/home/js/smoothscroll.js"></script>
<script src="/home/vendors/circle-bar/circle-progress.min.js"></script>
<script src="/home/vendors/circle-bar/plugins.js"></script>
<script src="/home/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/home/vendors/isotope/isotope.pkgd.min.js"></script>

<script src="/home/js/circle-active.js"></script>
<script src="/home/js/theme.js"></script>
</body>

</html>