<% layout('./layout') -%>  
        <!--================End Header Menu Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Services</h2>
                    </p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================End Banner Area =================-->
        <section style="border:none;">
            <div class="container">
                <div class="row">
                    <ol>
                        <li>
                            <h5>Business Digitalization</h5>
                        </li>
                        <li>
                            <h5>IT maintenance</h5>
                        </li>
                        <li>
                            <h5>Software Development</h5>
                        </li>
                        <li>
                            <h5>Digital Marketing</h5>
                        </li>
                        <li>
                            <a href="/home/corporate-branded-sms"><h5>SMS Branding</h5></a>
                        </li>
                    </ol>
                </div>
            </div>
        </section>
        