<% layout('./layout') -%>  
        <!--================End Header Menu Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h2>Services</h2>
                    <p>See what we do best</p>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================End Banner Area =================-->
        <section class="service_feature">
            <div class="container">
                <div class="row feature_inner">
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="/home/img/icon/f-icon-1.png" alt="">
                            </div>
                            <h4>Web Development</h4>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="/home/img/icon/f-icon-2.png" alt="">
                            </div>
                            <h4>Software Development</h4>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="/home/img/icon/f-icon-3.png" alt="">
                            </div>
                            <h4>Marketing</h4>
                            
                        </div>
                    </div>
                   
                </div>
                <div class="row feature_inner">
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="/home/img/icon/f-icon-1.png" alt="">
                            </div>
                            <h4>Mobile Development</h4>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="/home/img/icon/f-icon-2.png" alt="">
                            </div>
                            <h4>Business Digitalization</h4>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="feature_item">
                            <div class="f_icon">
                                <img src="/home/img/icon/f-icon-3.png" alt="">
                            </div>
                            <h4>Inventory Audit consultancy</h4>
                            
                        </div>
                    </div>
                   
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/home/js/jquery-3.2.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/home/js/popper.min.js"></script>
        <script src="/home/js/bootstrap.min.js"></script>
        <!-- Rev slider js -->
        <script src="/home/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="/home/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="/home/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <!-- Extra plugin css -->
        <script src="/home/vendors/counterup/jquery.waypoints.min.js"></script>
        <script src="/home/vendors/counterup/jquery.counterup.min.js"></script> 
        <script src="/home/vendors/counterup/apear.js"></script>
        <script src="/home/vendors/counterup/countto.js"></script>
        <script src="/home/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/home/vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
        <script src="/home/js/smoothscroll.js"></script>
        <script src="/home/vendors/circle-bar/circle-progress.min.js"></script>
        <script src="/home/vendors/circle-bar/plugins.js"></script>
        
        <script src="/home/js/circle-active.js"></script>
        <script src="/home/js/theme.js"></script>
    </body>
</html>