<% layout('./layout') -%>  
    <!--================End Header Menu Area =================-->

    <!--================Banner Area =================-->
    <section class="banner_area">
        <div class="container">
            <div class="banner_inner_text">
                <h2>Product's</h2>
                <p>See our best work</p>
            </div>
        </div>
    </section>
    <!--================End Banner Area =================-->

    <!--================Portfolio Area =================-->
    <div class="product">
        <div class="heading text-center">
            <h1 >PRICE PLANS</h1>
        </div>
        <div class="demo">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable blue">
                            <div class="pricingTable-header">
                                <span class="heading">
                                    <h3>Standard</h3>
                                    <br>
                                </span>
                                <span class="price-value">$10 </span>
                                <span>monthly</span>
                            </div>
                            <div class="pricingContent">
                                <ul>
                                    <li>50GB Disk Space <i class="fa fa-check"></i></li>
                                    <li>50 Email Accounts <i class="fa fa-check"></i></li>
                                    <li>50GB Monthly Bandwidth <i class="fa fa-check"></i></li>
                                    <li>10 subdomains <i class="fa fa-check"></i></li>
                                    <li>15 Domains <i class="fa fa-times"></i></li>
                                </ul>
                            </div><!-- /  CONTENT BOX-->
                            <div class="pricingTable-sign-up">
                                <a href="#" class="btn btn-block">register</a>
                            </div><!-- BUTTON BOX-->
                        </div>
                    </div>
    
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable pink">
                            <div class="pricingTable-header">
                                <span class="heading">
                                    <h3>Standard</h3>
                                    <br>
                                </span>
                                <span class="price-value">$10 </span>
                                <span>monthly</span>
                            </div>
                            <div class="pricingContent">
                                <ul>
                                    <li>60GB Disk Space <i class="fa fa-check"></i></li>
                                    <li>60 Email Accounts <i class="fa fa-check"></i></li>
                                    <li>60GB Monthly Bandwidth <i class="fa fa-check"></i></li>
                                    <li>15 subdomains <i class="fa fa-check"></i></li>
                                    <li>20 Domains <i class="fa fa-times"></i></li>
                                </ul>
                            </div><!-- /  CONTENT BOX-->
                            <div class="pricingTable-sign-up">
                                <a href="#" class="btn btn-block">register</a>
                            </div><!-- BUTTON BOX-->
                        </div>
                    </div>
    
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable orange">
                            <div class="pricingTable-header">
                                <span class="heading">
                                    <h3>Standard</h3>
                                    <br>
                                </span>
                                <span class="price-value">$10 </span>
                                <span>monthly</span>
                            </div>
                            <div class="pricingContent">
                                <ul>
                                    <li>70GB Disk Space <i class="fa fa-check"></i></li>
                                    <li>70 Email Accounts <i class="fa fa-check"></i></li>
                                    <li>70GB Monthly Bandwidth <i class="fa fa-check"></i></li>
                                    <li>20 subdomains <i class="fa fa-check"></i></li>
                                    <li>25 Domains <i class="fa fa-times"></i></li>
                                </ul>
                            </div><!-- /  CONTENT BOX-->
                            <div class="pricingTable-sign-up">
                                <a href="#" class="btn btn-block">register</a>
                            </div><!-- BUTTON BOX-->
                        </div>
                    </div>
    
                    <div class="col-md-3 col-sm-6">
                        <div class="pricingTable green">
                            <div class="pricingTable-header">
                                <span class="heading">
                                    <h3>Standard</h3>
                                    <br>
                                </span>
                                <span class="price-value">$10 </span>
                                <span>monthly</span>
                            </div>
                            <div class="pricingContent">
                                <ul>
                                    <li>80GB Disk Space <i class="fa fa-check"></i></li>
                                    <li>80 Email Accounts <i class="fa fa-check"></i></li>
                                    <li>80GB Monthly Bandwidth <i class="fa fa-check"></i></li>
                                    <li>25 subdomains <i class="fa fa-check"></i></li>
                                    <li>30 Domains <i class="fa fa-times"></i></li>
                                </ul>
                            </div><!-- /  CONTENT BOX-->
                            <div class="pricingTable-sign-up">
                                <a href="#" class="btn btn-block">register</a>
                            </div><!-- BUTTON BOX-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--================End Portfolio Area =================-->

    <!--================Footer Area =================-->
    
    <!--================End Footer Area =================-->




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/user/js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/user/js/popper.min.js"></script>
    <script src="/user/js/bootstrap.min.js"></script>
    <!-- Rev slider js -->
    <script src="/user/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="/user/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/user/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/user/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="/user/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/user/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/user/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/user/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <!-- Extra plugin css -->
    <script src="/user/vendors/counterup/jquery.waypoints.min.js"></script>
    <script src="/user/vendors/counterup/jquery.counterup.min.js"></script>
    <script src="/user/vendors/counterup/apear.js"></script>
    <script src="/user/vendors/counterup/countto.js"></script>
    <script src="/user/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/user/vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
    <script src="/user/js/smoothscroll.js"></script>
    <script src="/user/vendors/circle-bar/circle-progress.min.js"></script>
    <script src="/user/vendors/circle-bar/plugins.js"></script>
    <script src="/user/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/user/vendors/isotope/isotope.pkgd.min.js"></script>

    <script src="/user/js/circle-active.js"></script>
    <script src="/user/js/theme.js"></script>
</body>

</html>
<style>

.demo
{
	padding: 100px 0;
}
.heading-title
{
	margin-bottom: 100px;
}

.pricingTable{
    text-align: center;
    transition: all 0.5s ease 0s;
}

.pricingTable:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.pricingTable .pricingTable-header{
    color: #feffff;
}

.pricingTable .heading{
    display: block;
    padding-top: 25px;
}

.pricingTable .heading > h3{
    font-size: 20px;
    margin: 0;
    text-transform: capitalize;
}

.pricingTable .subtitle{
    display: block;
    font-size: 13px;
    margin-top: 5px;
    text-transform: capitalize;
}

.pricingTable .price-value{
    display: block;
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 25px;
}

.pricingTable .price-value span{
    display: block;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.pricingTable .pricingContent{
    text-transform: capitalize;
    background: #fbfbfb;
    color: #fefeff;
}

.pricingTable .pricingContent ul{
    list-style: none;
    padding: 15px 20px 10px;
    margin: 0;
    text-align: left;
}

.pricingTable .pricingContent ul li{
    font-size: 14px;
    padding: 12px 0;
    border-bottom: 1px dashed #e1e1e1;
    color: #9da1ad;
}

.pricingTable .pricingContent ul li i{
    font-size: 14px;
    float: right;
}

.pricingTable .pricingTable-sign-up{
    padding: 20px 0;
    background: #fbfbfb;
    color: #fff;
    text-transform: capitalize;
}

.pricingTable .btn-block{
    width: 60%;
    margin: 0 auto;
    font-size: 17px;
    color: #fff;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.5s ease 0s;
}

.pricingTable .btn-block:before{
    content: "\f007";
    font-family: 'FontAwesome';
    margin-right: 10px;
}

.pricingTable.blue .pricingTable-header,
.pricingTable.blue .btn-block{
    background: #727cb6;
}

.pricingTable.pink .pricingTable-header,
.pricingTable.pink .btn-block{
    background: #ed687c;
}

.pricingTable.orange .pricingTable-header,
.pricingTable.orange .btn-block{
    background: #e67e22;
}

.pricingTable.green .pricingTable-header,
.pricingTable.green .btn-block{
    background: #008b8b;
}

.pricingTable.blue .btn-block:hover,
.pricingTable.pink .btn-block:hover,
.pricingTable.orange .btn-block:hover,
.pricingTable.green .btn-block:hover{
    background: #e6e6e6;
    color: #939393;
}

@media screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 20px; }
}
</style>